*{
    margin: 0;
    padding: 0;
}.n1 ul li{
    background-color:black;
    border: 2px solid white;
    width: 245px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    float: left;
    position: relative;
    list-style: none;
}
.n1 ul li a{
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 1.5rem;
    display: block;
    list-style: none;
}
.n1 ul li a:hover{
    background-color: green;
}
.footer{
    height: 200px;
    width: 100%;
    /* border: 2px solid black; */
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: black;
}
.footerb{
    height: 180px;
    width: 300px;
    /* border: 2px solid blue; */
    float: left;
    margin-top: 10px;
    color: white;
    text-align: center;
}
.footerb a{
    text-decoration: none;
    color: white;}
    table{
        height: 430px;
    }
    input{
        width: 50%;
        height: 35px;
        border: 2px solid green ;
        font-size: 20px;
    }
    textarea{
        width: 60%;
        height: 90px;
        border: 2px solid green ;
        font-size: 20px;
    }
    select{
        width: 60%;
        height: 35px;
        border: 2px solid green ;
        font-size: 20px;
    }
   .btn:hover{
    background-color: black;
   }
   .btn{
    color:red;
   }
   table td{
    font-weight: bold;
    font-size: 1.5rem;
   }

    h1{ text-align: center;

    }