<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/order.css">
    <title>Document</title>
</head>
<body>
    <div>
        <nav class="n1">
            <ul class="me1">
                <li><a href="{% url 'style2' %}" > Home</a></li>
                <li><a href="{% url 'menu' %}"> Menu</a></li>
                <li><a href="{% url 'about' %}" > About</a></li>
                <li><a href="{% url 'order' %}" >Order</a></li>
                <li><a href="{% url 'contact' %}" >Contact Us</a></li>
                <!-- <li> <a href="#">Desert</a></li> -->
                
                <!-- <li><a href="#" >North Indian</a></li> -->
            </ul>
        </nav>
      
    </div>
    <br>
    <br>
    <br>
    <h1 style="text-align: center;"> North Indian Thali</h1>
    
    
    <div class="top_cat">
        <div class="top_cat_pro">
            <img src="/static/veg1.jpg" style="width: 100%;">
          
            <div class="tittle">
                <p>Special $10</p>
            </div>
            <div class="btn">
            <a href="{% url 'io1' %}"> <input type="button" value="Order Now"></a> 
            </div>
        </div>
        <div class="top_cat_pro">
            <img src="/static/veg2.jpg" style="width: 100%;">
            
                <div class="tittle">
                    <p>special $7</p>
                </div>
                <div class="btn">
                    <a href="{% url 'io1' %}"> <input type="button" value="Order Now"></a> 
                </div>
        </div>
        <div class="top_cat_pro">
            <img src="/static/veg3.jpg" style="width: 100%;">
               <div class="tittle">
            
                    <p style="text-align: center;">Special $5</p>
                </div>
                <div class="btn">
                    <a href="{% url 'io1' %}"> <input type="button" value="Order Now"></a> 
                </div>
        </div>
    </div>
    <br>
    <br>
    <h1 style="text-align: center;"> South Indian Thali</h1>
    <div class="top_cat">
        <div class="top_cat_pro">
            <img src="/static/south1.jpg" style="width: 100%;">
          
            <div class="tittle">
                <p>Special $11</p>
            </div>
            <div class="btn">
                <a href="{% url 'io1' %}"> <input type="button" value="Order Now"></a> 
            </div>
        </div>
        <div class="top_cat_pro">
            <img src="/static/south 2.jpg" style="width: 100%;">
            
                <div class="tittle">
                    <p>Special $9</p>
                </div>
                <div class="btn">
                    <a href="{% url 'io1' %}"> <input type="button" value="Order Now"></a> 
                </div>
        </div>
        <div class="top_cat_pro">
            <img src="/static/south3.jpg" style="width: 100%;">
            <div class="tittle">
                    <p style="text-align: center;">Special $6</p>
                </div>
                <div class="btn">
                    <a href="{% url 'io1' %}"> <input type="button" value="Order Now"></a> 
                </div>
        </div>
    </div>
    <br>
    <br>
    <h1 style="text-align: center;"> Bengali Thali</h1>
    <div class="top_cat">
        <div class="top_cat_pro">
            <img src="/static/bengali1.jpg" style="width: 100%;">
          
            <div class="tittle">
                <p>Special $9</p>
            </div>
            <div class="btn">
                <a href="{% url 'io1' %}"> <input type="button" value="Order Now"></a> 
            </div>
        </div>
        <div class="top_cat_pro">
            <img src="/static/bengali2.jpg" style="width: 100%;">
            
                <div class="tittle">
                    <p>Special $7</p>
                </div>
                <div class="btn">
                    <a href="{% url 'io1' %}"> <input type="button" value="Order Now"></a> 
                </div>
        </div>
        <div class="top_cat_pro">
            <img src="/static/bengali3.jpg" style="width: 100%;">
            <div class="tittle">
                    <p style="text-align: center;">Special $5</p>
                </div>
                <div class="btn">
                    <a href="{% url 'io1' %}"> <input type="button" value="Order Now"></a> 
                </div>
        </div>
    </div>
    
    <div class="footer">
        <div class="footerb">
           <b> Quick Link </b> <br><br>
           <a href="{% url 'style2' %}" > Home</a><br>
           <a href="{% url 'menu' %}"> Menu</a><br>
           <a href="{% url 'about' %}" > About</a><br>
           <a href="{% url 'order' %}" >Order</a><br>
           <a href="{% url 'contact' %}" >Contact Us</a><br>
         
        </div>
        
        <div class="footerb">
            <b> Menu</b> <br><br>
           Veg Thali<br> 
           Non Veg Thali<br>
           Fast Food<br>
           Pizza <br>
           Pasta<br>
        </div>
        <div class="footerb">
            <b> Address : </b> <br><br>
            120 Surat Bhagal<br> 
            Email : abc12@gmail.com<br>
            Mobile : 9316573540<br>
            Time : 9.00 AM to 5.00 Pm <br>
           
        </div>
        <div class="footerb" >
            <b> Directions</b>
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d10651.720974027823!2d72.8442247013261!3d21.20204524203642!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3be04ef9dc913593%3A0x96106052132786c3!2sSurat!5e0!3m2!1sen!2sin!4v1697355961630!5m2!1sen!2sin" width="100%" height="150px" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
    </div>
    
    
</body>
</html>